* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

#app-container {
  width: 70%;
  margin: auto;
}

.editor-form {
  display: flex;
  flex-direction: column;
}

.form-row-left {
  margin-bottom: 10px;
}

.form-row-right {
  float: right;
  margin-bottom: 10px;
}

#todo-text {
  width: 100%;
}

.item {
  border: 1px dotted gray;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.item > h3 {
  font-weight: 400;
}

.info-block {
  display: flex;
}

.status-panel {
  flex-grow: 4;
}

.created-date-panel {
  flex-grow: 1;
  text-align: right;
}

.done-date-panel {
  flex-grow: 1;
  text-align: right;
}

.control-block {
  text-align: right;
}

.view-button {
  width: 125px;
  color: aquamarine;
}

.postpone-button {
  width: 125px;
  color: orange;
}

.resume-button {
  width: 125px;
  color: green;
}

.delete-button {
  width: 125px;
  color: red;
}

.done-button {
  width: 125px;
  color: blue;
}
